html {
    height: 100%;
    background: #611818 url(../../img/trees.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100% 0;
    background-size: 75% 100%; }

body {
    font-family: "Open San", sans-serif;
  }
  
  h1,h2,h3 {
    font-family: "Lobster", cursive;
  }
  
  h2{
    color: #611818;
  }
  
  header h2 {
    color: #611818;
  }

  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
  }
  
  .navbar {
    background-color: #611818;
  }
  
  .navbar-dark {
    background-color: #611818;
  }